* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(thomas-verbruggen-cVYLIzF6Gh0-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.head {
    background-color: #05190a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.head .navigation ul li a {
    position: relative;
    font-size: 1.2em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.head .navigation ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transform: scaleX(0);
    transition: transform .5s;
    box-shadow: 0 0 10px (255, 255, 255, 0.8);
    background: linear-gradient(to right, #fff, #f3f3f3);
}

.head .navigation ul li a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}

.head .navigation ul {
    float: right;
    margin-right: 20px;
}

.head .navigation ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}



.logo {
    color: white;
    user-select: none;
    font-size: 35px;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.cover_box {
    position: relative;
    width: 550px;
    height: 640px;
    background: transparent;
    border: 2px solid #c9c8c8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5s);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, hight .2s ease, border-color 0.5s ease;
}

.cover_box_device {
    position: relative;
    width: 750px;
    height: 440px;
    background: transparent;
    border: 2px solid #c9c8c8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5s);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: transform .5s ease, hight .2s ease, border-color 0.5s ease;
}

.cover_box_device:hover {
    border-color: #fff;
    animation: border-glow 1s infinite alternate;
}

.cover_box_device h2 {
    font-size: 2em;
    color: #05190a;
    text-align: center;
    padding: 50px 0;
}

.cover_box:hover {
    border-color: #fff;
    animation: border-glow 1s infinite alternate;
}

@keyframes border-glow {
    from {
        border-color: #f6f8f6;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5s);
    }

    to {
        border-color: #ffffff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

.cover_box .form-box {
    width: 100%;
    padding: 40px;
}

.cover_box .form-box.login {
    transition: transform .50s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: #05190a;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label {
    position: relative;
    top: -65%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #05190a;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -70px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #05190a;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    color: #05190a;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 8px;
    color: #05190a;
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #05190a;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 1em;
    color: #c9c8c8;
    text-align: center;
    font-weight: 600;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #302f2f;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size: 18px;
}

.table-row {
    border-bottom: 2px solid black;
}


.thresholds-wrapper {
    display: flex;
    align-items: center;
    padding: 12px 0;
    gap: 12px;
}


.device-name {
    flex: 0 0 160px;
    
    font-weight: 500;
}


.thresholds-label {
    margin-right: 10px;
    font-weight: 500;
    white-space: nowrap;
}


.circle {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.red {
    background-color: #e74c3c;
}

.yellow {
    background-color: #f1c40f;
    color: black;
}

.green {
    background-color: #2ecc71;
}